<!doctype html>
<html>
   <body>
   
      <h2 style = "text-align: center;">Update Federation Account Password</h2>

      {% for message in form.password.errors %}
         <div>{{ message }}</div>
      {% endfor %}
            
      <form action="{{ url_for('password', person_id= fed_account) }}" method=post>
         <fieldset>
            <legend>Password Change Form</legend>
            {{ form.hidden_tag() }}
            
            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ form.password.label }}<br>
               {{ form.password }}
               <br>
               {{ form.update }}
            </div>
            
         </fieldset>
      </form>
      
   </body>
</html>
