global-include *.py
global-include *.cfg
global-include *.rst

include MANIFEST.in
include LICENSE
include COPYRIGHT
include requirements.txt
include version

global-exclude *.pyc

include demo/*.json
include demo/*.sh

