global-include *.py
global-include *.cfg
global-include *.rst
global-include *.html
global-include *.ini
global-include *.css

include thalamus/demo/*.json
include thalamus/demo/populate.sh
include thalamus/demo/federation_schema.sql
include thalamus/demo/ana_newborn.jpg

include thalamus/doc/*.rst

include MANIFEST.in
include LICENSE
include COPYRIGHT
include requirements.txt
include version

global-exclude *.pyc
