include mygnuhealth/doc/*.rst
include mygnuhealth/images/*.png
include mygnuhealth/images/*.svg
include mygnuhealth/*.py

include org.gnuhealth.my.metainfo.xml
include org.gnuhealth.my.desktop

include bin/mygnuhealth

include mygnuhealth/qml/*.qml

include MANIFEST.in
include LICENSE
include COPYRIGHT
include version

global-exclude *.pyc
