global-include *.py
global-include *.conf
global-include *.rst

include mygnuhealth/doc/*.rst
include mygnuhealth/images/*.png
include mygnuhealth/images/*.svg

include mygnuhealth/qml/*.qml

include MANIFEST.in
include LICENSE
include COPYRIGHT
include version

global-exclude *.pyc
