[Desktop Entry]
Version=1.0
Type=Application
Name=MyGNUHealth
GenericName=Personal Health Record
Comment=GNU Health Personal Health Record
Keywords=Healthcare;Medicine;Bioinformatics;Management;Enterprise;ERP;Framework;Client;
Exec=mygnuhealth %u
Icon=mygnuhealth
Terminal=false
Categories=Office;Finance;
